@import '../styles/variables.scss';

.arrow {
  padding: 10px;
  border: 1px solid #efb1ff;
  color: #efb1ff;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;

  @media screen and (max-width: $mobile) {
    font-size: 10px;
    padding: 8px;
  }
}

.disabled {
  border: 1px solid grey;
  color: grey;
  cursor: not-allowed;
}
