@import '../styles/variables.scss';

.cardsContainer {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;

  border-radius: 10px;

  @media screen and (max-width: $tablet) {
    width: 300px;
  }
  @media screen and (max-width: $mobile) {
    width: 200px;
    height: 250px;
  }
}

.cardsContainer_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media screen and (max-width: $mobile) {
    gap: 10px;
  }
}
.cardsContainer_count {
  text-align: center;
  color: #efb1ff;
}
