@import '../styles/variables.scss';

.header {
  //для закрепления меню всегда наверху страницы
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  padding-top: 10px;
  padding-bottom: 30px;
  @include customFont;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #473995;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    justify-content: flex-start;
    height: 90px;
    font-size: 10px;
  }
}

.logo {
  width: 70px;
  padding: 10px;
}

.header_logo {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  @media screen and (max-width: $tablet) {
    justify-content: center;
  }

  .header_button {
    padding: 8px;

    cursor: pointer;
    border-radius: 5px;
    color: rgb(49, 9, 87);
    font-weight: bolder;
    background-color: $customLightTextColor;

    &:hover {
      //наведение на кнопку
      background: rgb(238, 205, 238);
    }

    &:active {
      //нажатие на кнопку
      outline: none;
      box-shadow: 0px 0px 13px 4px #b274e6;
    }

    @media screen and (max-width: $tablet) {
      padding: 4px;
    }
  }
}

.header_phrase {
  color: $customLightTextColor;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;

  @media screen and (max-width: $tablet) {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
  }
}
