@import '../styles/variables.scss';

.table_header th {
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 10px 15px;
  background: $customLightTextColor;
  font-size: 18px;
  border-top: 1px solid $customLightTextColor;
  color: rgb(49, 9, 87);

  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
}
