@import '../styles/variables.scss';

.main_table {
  max-width: 1000px;
  width: 700px;

  min-width: 500px;
  // overflow-x: scroll;
  overflow: auto; //для горизонтальной прокрутки таблицы
}

.table {
  width: 700px;
  // width: 100%;
  overflow-x: scroll;

  border: none;
  margin-bottom: 20px;
  border-collapse: separate;

  // @media screen and (max-width: $tablet) {
  //   width: 500px;
  // }
}

.table tr th:first-child,
.table tr td:first-child {
  border-left: 1px solid $customLightTextColor;
}

.table tr th:last-child,
.table tr td:last-child {
  border-right: 1px solid $customLightTextColor;
}

.table thead tr th:first-child {
  border-radius: 10px 0 0 0;
}

.table thead tr th:last-child {
  border-radius: 0 10px 0 0;
}

.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;

  @media screen and (max-width: $tablet) {
    padding: 10px 5px;
    font-size: 11px;
  }
}
.table tbody tr:nth-child(odd) td {
  //нечетные строки
  background: rgb(142, 107, 152, 0.75);
  color: $customLightTextColor;
}

.table tbody tr:nth-child(even) td {
  //четные строки
  background: $customLightTextColor;
  color: rgb(49, 9, 87);
}

.table tbody tr:last-child td {
  //последняя строка
  border-bottom: 1px solid $customLightTextColor;
}

.table tbody tr:last-child td:first-child {
  //первая ячейка в последней строке
  border-radius: 0 0 0 10px;
}

.table tbody tr:last-child td:last-child {
  //последняя ячейка последней строки
  border-radius: 0 0 10px 0;
}
