@import '../../styles/variables.scss';

.button_actions {
  padding-left: 5px;
  padding-right: 4px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 5px 1px #483a97;
  }

  @media screen and (max-width: $tablet) {
    font-size: 10px;
  }
}

.disabled_button {
  background: #f5e1e1;
  cursor: not-allowed;

  z-index: -1;
}
